
.date_header {
    h1 {
        display: flex;
        justify-content: space-between;
        margin: 0;
        font-size: 2em;
        div {
            display: flex;
        }

        .month_year {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 0.7rem;
            margin-left: 0.2rem;

            .month {
                font-weight: 700;
            }

            .year {
                font-weight: 300;
            }
        }

        .day {
            font-size: 0.7rem;
            font-weight: 300;
            align-items: flex-end;
        }
    }
}